<?xml version="1.0"?>
<!-- 
/**
 * @category   Magada
 * @package    Magada_Orders.xml
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
	<modules>
        <Magada_Orders>
            <version>0.1.0</version>
        </Magada_Orders>
    </modules>
    <admin>
        <routers>
            <orders>
                <use>admin</use>
                <args>
                    <module>Magada_Orders</module>
                    <frontName>orders</frontName>
                </args>
            </orders>
            <adminhtml>
                <args>
                    <modules>
                        <orders before="Mage_Adminhtml">Magada_Orders</orders>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
       	<layout>
            <updates>
                <orders>
                    <file>orders.xml</file>
                </orders>
            </updates>
        </layout>
    </adminhtml> 
    <global>
    	<blocks>
            <orders>
                <class>Magada_Orders_Block</class>
            </orders>
        </blocks>
    	<helpers>
            <orders>
                <class>Magada_Orders_Helper</class>
            </orders>
        </helpers>
        <models>
            <orders>
                <class>Magada_Orders_Model</class>
            </orders>
        </models>
    </global>
</config>